<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Related to the connection START -->
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
  <property name="hibernate.connection.username">C##MAHESH</property>
  <property name="hibernate.connection.password">ORACLE</property>
  


		<!-- Related to hibernate properties START -->
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.OracleDialect</property>
		 <property name="hbm2ddl.auto">update</property> 
		
		<!-- Related to hibernate properties END -->


		<!-- Related to mapping START -->
		<mapping resource="customer.xml" />
		<mapping resource="vendor.xml" />
		<!-- Related to the mapping END -->

	</session-factory>



</hibernate-configuration>